<!-- app/templates/login.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <title>Login to the Short URL Generator</title>
</head>
<body class="flex items-center justify-center h-screen bg-gray-100">
    <div class="bg-white p-6 rounded shadow-md w-full max-w-md">
        <h2 class="text-2xl mb-4">Login to the Short URL Generator</h2>
        
        <!-- Mostrar el mensaje de error si existe -->
        {% if error %}
        <p class="text-red-500 mb-4">Invalid credentials. Please try again.</p>
        {% endif %}
        
        <form action="/login" method="post">
            <input type="text" name="username" placeholder="Username" class="border p-2 w-full mb-4" required>
            <input type="password" name="password" placeholder="Password" class="border p-2 w-full mb-4" required>
            <button type="submit" class="bg-blue-500 text-white p-2 rounded w-full">Login</button>
        </form>
    </div>
</body>
</html>
