<!-- app/templates/shorten_url.html -->
{% extends "base.html" %}

{% block title %}Shorten URL{% endblock %}

{% block content %}
<div class="text-center mb-4">
    <h1 class="text-3xl font-bold">Create Short URL</h1>
</div>
<form action="/shorten-url" method="post" class="bg-white p-4 rounded shadow-md">
    <input type="url" name="original_url" placeholder="Original URL" class="border p-2 w-full mb-4" required>
    
    <!-- Campo short_name con restricción de caracteres -->
    <input type="text" name="short_name" placeholder="Short Name" class="border p-2 w-full mb-4" maxlength="20" required
        pattern="^[A-Za-z0-9_]+$" title="Short name can only contain alphanumeric characters and underscores.">

    <input type="text" name="description" placeholder="Description" class="border p-2 w-full mb-4">
    
    <label for="expirable" class="inline-flex items-center mt-4">
        <input type="checkbox" name="expirable" id="expirable" class="form-checkbox" value="true" checked>
        <span class="ml-2">Make URL Expirable</span>
    </label>
    
    <button type="submit" class="bg-blue-500 text-white p-2 rounded w-full">Create</button>
</form>
{% endblock %}
